In [1]:
import findspark
findspark.init()

In [2]:
import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
# define data path
data_path = "Exercise Files/data"

In [5]:
# load utilization.json
file_path = data_path + "/utlization.json"
df1 = spark.read.format("json").load(file_path)

In [6]:
# show df1
df1.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [29]:
# load server_name.csv
file_path = data_path + "/server_name.csv"
df2 = spark.read.format("csv").option("header", "true").load(file_path)

In [30]:
# show df2
df2.show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

In [7]:
# create temporary view utilization from df1
df1.createOrReplaceTempView("utilization")

In [31]:
# create temporary view server_name from df2
df2.createOrReplaceTempView("server_name")

In [16]:
# select specific columns from view and show sample of data
df_sql = spark.sql("SELECT server_id, session_count FROM utilization LIMIT 10")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [17]:
df_sql = spark.sql("SELECT server_id AS sid, session_count AS sc FROM utilization")
df_sql.show()

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
|100| 48|
|100| 58|
|100| 58|
|100| 62|
|100| 45|
|100| 47|
|100| 60|
|100| 57|
|100| 44|
|100| 47|
|100| 66|
|100| 65|
|100| 66|
|100| 42|
|100| 63|
+---+---+
only showing top 20 rows

In [19]:
# filter data by column
df_sql = spark.sql("SELECT * FROM utilization WHERE server_id = 120")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|           0.39|03/05/2019 09:01:48|       0.47|      120|           58|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.38|03/05/2019 09:11:48|       0.38|      120|           56|
|           0.53|03/05/2019 09:16:48|       0.38|      120|           47|
|           0.74|03/05/2019 09:21:48|       0.25|      120|           69|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:31:48|       0.64|      120|           65|
|            0.7|03/05/2019 09:36:48|       0.52|      120|           55|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [20]:
# filter data by column
df_sql = spark.sql("SELECT * FROM utilization WHERE session_count > 70")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.32|03/05/2019 11:06:14|       0.35|      100|           71|
|           0.35|03/05/2019 12:31:14|       0.42|      100|           71|
|           0.29|03/05/2019 13:31:14|       0.36|      100|           71|
|           0.49|03/05/2019 16:36:14|       0.66|      100|           71|
|           0.32|03/05/2019 16:46:14|       0.58|      100|           72|
|           0.44|03/05/2019 18:26:14|       0.52|      100|           72|
|           0.45|03/05/2019 21:26:14|       0.47|      100|           71|
|           0.34|03/06/2019 01:46:14|       0.55|      100|           71|
|           0.61|03/06/2019 05:21:14|       0.35|      100|           71|
|           0.45|03/06/2019 07:26:14|       0.66|      100|           72|
|           0.57|03/06/2019 09:56:14|       0.38|      100|           71|
|           0.29|03/06/2019 10:46:14|       0.63|      100|           72|
|           0.42|03/06/2019 11:41:14|       0.72|      100|           71|
|            0.5|03/06/2019 13:01:14|       0.64|      100|           71|
|            0.4|03/06/2019 15:41:14|       0.57|      100|           72|
|           0.48|03/06/2019 21:26:14|       0.63|      100|           71|
|           0.64|03/06/2019 22:01:14|        0.4|      100|           72|
|           0.64|03/07/2019 01:31:14|       0.69|      100|           72|
|           0.56|03/07/2019 02:36:14|       0.53|      100|           71|
|           0.46|03/07/2019 05:46:14|       0.46|      100|           71|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [21]:
# filter data using a couple of conditions
df_sql = spark.sql("SELECT * FROM utilization WHERE session_count > 70 AND server_id = 120")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
|           0.63|03/05/2019 10:06:48|       0.47|      120|           78|
|           0.51|03/05/2019 10:26:48|       0.58|      120|           75|
|           0.42|03/05/2019 11:21:48|       0.26|      120|           75|
|           0.42|03/05/2019 11:31:48|       0.46|      120|           73|
|           0.37|03/05/2019 11:41:48|       0.38|      120|           79|
|            0.6|03/05/2019 11:56:48|       0.63|      120|           72|
|            0.4|03/05/2019 12:01:48|       0.52|      120|           77|
|           0.66|03/05/2019 12:36:48|       0.32|      120|           75|
|           0.37|03/05/2019 13:21:48|       0.62|      120|           72|
|           0.69|03/05/2019 13:36:48|       0.58|      120|           79|
|           0.59|03/05/2019 14:06:48|       0.34|      120|           75|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [22]:
# filter data using a couple of conditions and order data
df_sql = spark.sql("SELECT server_id, session_count \
                   FROM utilization \
                   WHERE session_count > 70 AND server_id = 120 \
                   ORDER BY session_count DESC")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
+---------+-------------+
only showing top 20 rows

In [23]:
# get count of data that fulfills a condition
df_sql = spark.sql("SELECT COUNT(*) \
                   FROM utilization \
                   WHERE session_count > 70")
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [25]:
# aggregate data and get count
df_sql = spark.sql("SELECT server_id, COUNT(*) \
                   FROM utilization \
                   WHERE session_count > 70 \
                   GROUP BY server_id")
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      103|    8744|
|      104|    7366|
|      100|     391|
|      105|    1110|
|      101|    9808|
|      102|    8586|
|      112|    7425|
|      113|    9418|
|      110|    2826|
|      107|    5646|
|      111|    3093|
|      108|    8375|
|      109|    3129|
|      116|    1167|
|      114|    2128|
|      115|    5284|
|      120|    2733|
|      118|    7913|
|      117|    3605|
|      126|    6365|
+---------+--------+
only showing top 20 rows

In [26]:
# aggregate data, get count and order data
df_sql = spark.sql("SELECT server_id, COUNT(*) \
                   FROM utilization \
                   WHERE session_count > 70 \
                   GROUP BY server_id \
                   ORDER BY COUNT(*) DESC")
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      121|    7084|
|      142|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

In [28]:
# aggregate data and apply several aggregate functions
df_sql = spark.sql("SELECT server_id, MIN(session_count), MAX(session_count), ROUND(AVG(session_count), 2) \
                   FROM utilization \
                   WHERE session_count > 70 \
                   GROUP BY server_id")
df_sql.show()

+---------+------------------+------------------+----------------------------+
|server_id|min(session_count)|max(session_count)|round(avg(session_count), 2)|
+---------+------------------+------------------+----------------------------+
|      103|                71|               101|                       85.76|
|      104|                71|                96|                       83.35|
|      100|                71|                72|                       71.25|
|      105|                71|                74|                       72.48|
|      101|                71|               105|                       87.67|
|      102|                71|               101|                       85.71|
|      112|                71|                97|                       83.55|
|      113|                71|               103|                       86.96|
|      110|                71|                80|                       75.47|
|      107|                71|                90|                       80.35|
|      111|                71|                81|                       75.86|
|      108|                71|               100|                       85.12|
|      109|                71|                81|                       75.97|
|      116|                71|                75|                       72.62|
|      114|                71|                78|                       74.18|
|      115|                71|                89|                        79.7|
|      120|                71|                80|                       75.37|
|      118|                71|                98|                       84.66|
|      117|                71|                83|                       76.78|
|      126|                71|                93|                       81.56|
+---------+------------------+------------------+----------------------------+
only showing top 20 rows

In [33]:
# join views together
df_sql = spark.sql("SELECT util.server_id, name.server_name, util.session_count \
                   FROM utilization AS util \
                   INNER JOIN server_name AS name ON(util.server_id = name.server_id)")
df_sql.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      100| 100 Server|           47|
|      100| 100 Server|           43|
|      100| 100 Server|           62|
|      100| 100 Server|           50|
|      100| 100 Server|           43|
|      100| 100 Server|           48|
|      100| 100 Server|           58|
|      100| 100 Server|           58|
|      100| 100 Server|           62|
|      100| 100 Server|           45|
|      100| 100 Server|           47|
|      100| 100 Server|           60|
|      100| 100 Server|           57|
|      100| 100 Server|           44|
|      100| 100 Server|           47|
|      100| 100 Server|           66|
|      100| 100 Server|           65|
|      100| 100 Server|           66|
|      100| 100 Server|           42|
|      100| 100 Server|           63|
+---------+-----------+-------------+
only showing top 20 rows

In [34]:
# select rows with null values
df_sql = spark.sql("SELECT * FROM utilization WHERE session_count IS NULL")
df_sql.show()

+---------------+--------------+-----------+---------+-------------+
|cpu_utilization|event_datetime|free_memory|server_id|session_count|
+---------------+--------------+-----------+---------+-------------+
+---------------+--------------+-----------+---------+-------------+

In [35]:
# drop rows with null values
df_sql = spark.sql("SELECT * FROM utilization WHERE session_count IS NOT NULL")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows